<div>
  <h2>Tuit Detail</h2>
</div>

<div>
  <div>
    <%= image_tag @tweet.user.avatar %>
  </div>
  <div>
    <div>
      <%= @tweet.user.name %>
      <%= @tweet.user.username %>
    </div>
    <div>
      <%= @tweet.body %>
    </div>
    <div>
      <%= link_to tweet_path(@tweet) do %>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.53053 0L8.47089 0.00708861V0.00637975C11.5686 0.00708861 13.9957 2.43139 14 5.52699V5.53904C13.9979 7.19919 13.1912 8.8721 11.8429 10.0134C10.6981 10.9817 6.29681 13.7973 6.10967 13.9164C6.02106 13.9731 5.92253 14 5.82471 14C5.64891 14 5.47737 13.9135 5.37671 13.754C5.32284 13.6711 5.29165 13.5449 5.29165 13.4684V10.7548C2.25843 10.6386 0 8.43544 0 5.53053C0 2.42927 2.42856 0 5.52911 0H5.53053ZM6.35494 12.4937C7.70886 11.6161 10.3515 9.88294 11.1553 9.20243H11.1561C12.2704 8.25823 12.936 6.88729 12.9381 5.53337C12.9367 3.03109 10.9746 1.07038 8.47089 1.07038H8.46947L5.52982 1.06329C3.02613 1.06329 1.064 3.02542 1.064 5.53053C1.064 7.94775 2.94815 9.70289 5.54258 9.70289H5.82329C6.11747 9.70289 6.35494 9.94106 6.35494 10.2345V12.4937Z" fill="#6E7F8D"/>
        </svg>          
      <% end %>
    </div>    
  </div>
</div>

<div>
  <div>
    <%= form_with model: [@tweet, @comment] do |form| %>
      <%= form.text_area :body, placeholder: 'Remember to thing before write...' %>
      <%= form.submit 'comment' %>
    <% end %>
  </div>

  <div>
    <% @tweet.comments.each do |comment| %>
      <div>
        <%= comment.id %>
        <%= image_tag comment.user.avatar %>
        <%= comment.user.name %>
      </div>
      <p><%= comment.body %></p>
    <% end %>
  </div>
</div>