<!DOCTYPE html>
<html>
  <head>
    <title>TweetableIndividual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <main class="tw container" >
      <%= render 'layouts/popup' %>
      <%= yield %>
    </main>
  </body>
</html>
